# Virtual environment
.venv/
venv/

# Python
__pycache__/
*.py[cod]
*$py.class

# Django
*.log
db.sqlite3
db.sqlite3-journal
/staticfiles/
/media/*
!/media/.gitkeep

# Environment variables
.env

# Editors / OS
.vscode/
.idea/
.DS_Store
